{% extends 'review/base.html' %}
{% block title %}
Connexion
{% endblock %}


{% block header_page %}
<div class=header_page__login>
    <span class=header_page__title>Connexion</span>
</div>  
{% endblock %}
{% block content %}
    <div class=login-block>
        
        <div class=login-block__registration>
            <p class="login-block__form title">Inscrivez-vous maintenant</p> 
            <a href="{% url 'registration' %}">
                <button class="btn" type="button">s'inscrire</button>
            </a>
        </div> 

        <form method="post" action="" class="login-block__form">
            <p class="login-block__form title">Connectez-vous</p>
                {% csrf_token %}
                <div class="login-block__form__control">
                    {{ form.username }}
                </div> 
                <div class="login-block__form__control">
                    {{ form.password }}
                    {{ form.password.errors }}
                </div> 
            <div class="login-block__form__control validate">
                <button type="submit" class="btn">Se connecter</button>
            </div>
        </form>
  
    </div>
{% endblock %}