{% extends 'review/base.html' %}
{% block title %}
review
{% endblock %}
{% block header_page %}
<div class=header_page>
    <span class=header_page__title>Review</span>
</div>  
{% endblock %}
{% block content %}
    <div class=review_body>

        <span class=review_body__title>Ticket</span>
        {% if ticket_form.instance.id %}
            <p>Vous étes en train de poster en réponse à</p>
                {% include 'review/snippets/ticket_snippet.html' with post=ticket_form.instance %}
            <form method="post" action="{% url 'review' id_ticket=ticket_form.instance.id %}" class="review_body__form">      
        {% else %} 
            <form method="post" action="{% url 'review' %}" class="review_body__form"> 
                {% csrf_token %}
                <span class=review_body__form__title>Titre</span>
                {{ ticket_form.title }}
                <span class=review_body__form__title>Description</span>
                {{ ticket_form.description }}
                <span class=review_body__form__title>Image</span>
                {{ ticket_form.image }}
        {% endif %}
                <span class=review_body__title>Critique</span>
                {% csrf_token %}
                <span class=review_body__form__title>Titre</span>
                {{ review_form.headline }}
                <span class=review_body__form__title>Commentaires</span>
                {{ review_form.body }}
                <span class=review_body__form__title>Note</span>
                {{ review_form.rating }}

                <div class=form-control-validate>
                    <button type="submit" class="btn">Envoyer</button>
                </div>
                <div class=review_body__form__validate>
                    <button type="submit" class="btn">Envoyer</button>
                </div>
            </form> 

    </div>            
{% endblock %}


